<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iot-test-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/048d78dc-5694-42f9-8a83-137154927154/resourceGroups/iotsensorfunctions/providers/Microsoft.Web/sites/iot-test-functions</ResourceId>
    <UserName>$iot-test-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://iot-test-functions.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAITeUhhCOLESrC6SAu0r5jwAAAAACAAAAAAAQZgAAAAEAACAAAAC/ROM/ksjxOvlHd14MPq5AGYLXchTnrOegyfZ6UyDaPwAAAAAOgAAAAAIAACAAAADVBcRYeg8WHcs0NulWJy2AISBQbK/vI6H+w0el8hnuV4AAAABABaTJpWjH3FY31noU6KT2Mkl0ejv2xVPABlIYXUrjtny23FIY6asGKOnTJBC0ZScJQuba3LJA0S23RQ+ng8ltJwS580rHenuXL3taf63l3Qt6DqTm1R4HK4rnadT4/rh2xlRcOxq2yEqRxHjsI70cGVdpWgkYn1++CLR/G7gg0kAAAADrdM6GO7QV13lc1T8tciTez8tTqx1PUNoPRUvzlTxQ7Uhwtxfp31kM0YCkJuvT3pyGh2QuQhVJmtN6ElxDKdmQ</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>